html,
body,
.container {
    height: 100%;
    background-color: #FFFAFA;
    font-family: 'Lato', sans-serif!important;
    box-sizing: border-box;
    text-decoration: none;
}

*{
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: #7f8ff4;
}

.container{
    display: flex;
    flex-direction: column;
    align-panels: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #4682B4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
}
.btn--primary:hover {
    background: #008ECC;
}
.btn--primary:active {
    background: #4682B4;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
    margin-left: -96px;
}

.form_field {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font-size: 18px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

.form_field i{
    font-size: 50px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/

.card{
    color: #1572E8;
    background-color: #0f0f0f;
    text-align: justify;
    margin-left: 5%;
}

.card-body a{
    margin-bottom: 2%;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: left;
    margin-left: 5%;
}

.card-footer{
    text-align: center;
    margin-left: 35%;
}



/*-----------------------------------------------------MARKSHEET-----------------------------------------------------------------------------------*/
.box {
    margin-top: 5%;
    width: 300px;
    padding: 2px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    margin-left: 35%;
}
.content {
    background: #fff;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 2px;
    padding-bottom: 15%;
}


/*------------------------------------------------------------------PROGRESS BAR-----------------------------------------------------------------*/


progress {
    background: red;
    border-radius:100px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
progress::-webkit-progress-bar {
    background: #292929 !important;
    border-radius:100px;
}
progress::-webkit-progress-value {
    background: #1572E8 !important;
    border-radius:100px;
}


.progress_total,
.progress_skipped,
.progress_correct,
.progress_wrong{
    width: 100%;
    height: 15px;
    color: #292929;
}

.note{
    margin-top: 5%;
    margin-bottom: 15%;
    color: #292929;
}

.content h2{
    color: #292929;
}

p{
    color: #292929;
}

.percent-display{
    font-size: 60px;
    color: #292929;
}

.per-title{
    margin-top: 10%;
    color: #292929;
}

.under{
    width: 25%;
    border: solid 3px #1572E8;
    border-radius: 50px;
    margin-left: 15%;
}

.view-results{
    background-color: #292929;
    padding: 4%;
    border-radius: 20px;
}

.view-results:hover{
    background-color: #1572E8;
    color: #292929;
    padding: 4%;
    border-radius: 20px;
    text-decoration: none;
}

/*------------------------------------------------------------TRUE/FALSE---------------------------------------------------------------------------*/

.full-page {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
}

.full-page > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background-color: #F1F1F1;
    color: #2e6da4;
    max-height: 100px;
    text-align: left;
    box-shadow: 0 0 5px #505050;
}

.main-panel{
    background-color: #F1F1F1;
    margin-top: 3%;
    height: 500px;
    padding: 2%;
    color: #2e6da4;
}

.main-panel h6{
    color: #2e6da4;
    font-size: 30px;
}

.main-panel hr{
    width: 15%;
    border: solid 3px #2e6da4;
    border-radius: 50px;
}


.main-panel .question-content .question-header{
    color: #2e6da4;
    font-size: 20px;
    font-weight: 700;
}


/*----------------------------IT WILL ENLARGE OR ZOOM WHEN HOVERED--------------------------------*/
/*.main-panel .hover-to-big {*/
    /*transition: transform .2s;*/
    /*margin: 0 auto;*/
/*}*/

/*.main-panel .hover-to-big:hover{*/
    /*-ms-transform: scale(1.5); !* IE 9 *!*/
    /*-webkit-transform: scale(1.5); !* Safari 3-8 *!*/
    /*transform: scale(1.5);*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*padding: 50px;*/

/*}*/
/*------------------------------------------OPTIONS---------------------------------------*/
.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
}
.inputGroup label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3c454c;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}
.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #2e6da4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}
.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #d1d7dc;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
    color: #fff;
}
.inputGroup input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
.inputGroup input:checked ~ label:after {
    background-color: #54e0c7;
    border-color: #54e0c7;
}
.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}
.form {
    padding: 0 16px;
    max-width: 550px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}
*, *::before, *::after {
    box-sizing: inherit;
}


/*-----------------------------------/OPTIONS----------------------------------------------*/

.left-panel {
    background-color: #F1F1F1;
    height: 400px;
    margin-top: 3%;
    margin-right: 3%;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-panel a,
.left-panel p{
    color:#2e6da4;
}

.left-panel a:hover{
    text-decoration: none;
}

.right-panel {
    background: #F1F1F1;
    color:#2e6da4;
    margin-top: 3%;
    margin-left: 3%;
}

.right-header i{
    font-size: 20px;
    padding-left: 5%;
    float: left;
}

.right-header p{
    color: #2e6da4;
    margin-left: 15%;
}

.right-panel h6{
    margin-left: 40px;
    font-weight: 900;
    font-size: 15px;
}

.right-panel-under{
    width: 15%;
    border: solid 2px #111111;
    border-radius: 50px;
    margin-left: 5%;
    margin-top: 20px;
}


@media all and (min-width: 600px) {
    .side { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .main-panel    { flex: 3 0px; }
    .left-panel { order: 1; }
    .main-panel    { order: 2; }
    .right-panel { order: 3; }
}

.full-page {
    padding: 2em;
}

.left-question{
    padding: 5px;
}

.left-question:hover{
    border-left: solid 3px #2e6da4;
    border-radius: 3px;
}

.left-question i{
    float: right;
    margin-top: 5%;
    color: #2e6da4;
    font-size: 15px;
}

.submit-ans{
    display: flex;
    width: 100%;
    text-align: center;
}

.submit-ans-btn{
    /*justify-self: center;*/
    background-color: #2e6da4;
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    padding: 2%;
    border-radius: 50px;
    width: 100%;
}

.submit-ans-btn:hover{
    text-decoration: none;
    color: #FFF;
}


/*------------------------------------------------------------SCROLLBAR---------------------------------------------------------------------------*/

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2e6da4;
    border-radius: 10px;
}

::selection{
    background:none;
}
